
body {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 30%;
    margin-bottom: 30%;
    width: 70%;
    background-color: black;
    background-image: url("azb.png");
    background-repeat:no-repeat;
    background-position: 50% 0%;
}
h1{
margin-top:30%;
 font-family: 'Indie Flower', cursive;;
 font-size:4em;
 text-align: center;
 color:transparent;
text-shadow: 2px 2px 5px #FFFFFF;
    
}
@media only screen and (max-width: 767px) {
    
    body{
        background-color: black;
    }
    h1{
        font-size: 2em;
        margin-top:50%;
        text-shadow: 2px 2px 2px #FFFFFF;
    }
}
nav ul, footer ul {
    font-family:'Times New Roman', 'Times', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.navigation{
    color:gray;
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.navigation .item{
    position:absolute;
}




p {

}

footer{
    position: absolute;
    bottom:5%;
    right:5%;
    text-align: right;
    color: #555555;
    text-shadow: 0px 2px 3px #707070;
    font-size: 1em;
    line-height: 1.4em;    
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
