
body {
    margin: 60px auto;
    width: 70%;
    background-color: black;
    background-image: url("azb.png");
    background-repeat:no-repeat;
    background-position: 50% 0%;
}
h1{
margin-top:30%;
color: gray;
        text-shadow: 2px 2px 2px #FFFFFF;

 font-family: Georgia, serif;
 font-size:4em;
 text-align: center;

    
}

/*p1{
    position:absolute;
    right:42%;
    width: 20%;
    color: #555555;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em; 

}

@media only screen and (max-width: 767px) {
    
    body{
        background-color: black;
    }
    h1{
        font-size: 2em;
        margin-top:50%;
        text-shadow: 2px 2px 2px #FFFFFF;
    }
    footer{
        
display:none;    }
    
    p1{
    position:absolute;
    right:30%;
    width:50%;
    color: #555555;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em; 
    }
}*/
#menu-outer {
    height: 10%;


}

.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 20%;
    list-style: none;
    padding-top: 10%;
    }
ul#horizontal-list li {
        display: inline;
    }
li {
    float: left;
    width:30%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10% 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #222;
}

nav ul, footer ul {
    font-family:'Times New Roman', 'Times', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.navigation{
    color:gray;
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.navigation .item{
    position:absolute;
}






footer{
    position: absolute;
    bottom:5%;
    right:5%;
    text-align: right;
    color: #555555;
    text-shadow: 0px 2px 3px #707070;
    font-size: 1em;
    line-height: 1.4em;    
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
