body {
    margin: 60px auto;
    width: 70%;
    background-color: black;
    background-image: url("azb.png");
    background-repeat:no-repeat;
    background-position: 30% 20%;
}
nav ul, footer ul {
    font-family:'Times New Roman', 'Times', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.navigation{
    color:gray;
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.navigation .item{
    position:absolute;
}

h1{
 font:normal 3em Arial;
 text-align: center;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #989898,
 0 2px 0 #989898,
 0 3px 0 #989898,
 0 4px 0 #989898,
 0 5px 0 #989898,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}


p {
    text-align: right;
    color: #555555;
text-shadow: 0px 2px 3px #707070;
    font-size: 1em;
    line-height: 1.4em;
}

footer{
    color: white;
    
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
